#answers {
  display: none;
  text-align: center;
}

.center, .button {
  text-align: center;
}

.questions {
  text-align: left;
  font-size: 20px;
  line-height: 20px;
  width: 100%;
  padding: 10px;
  border: solid black;
  border-width: 1px;
  background-color: grey;
  margin-bottom: 10px;
  box-sizing: border-box;
}

